* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.nav-top {
	padding: 5px;
	box-shadow: 0 0 10px #0003;
	height: 48px;
}
.container {
	width: 100vw;
	height: calc(100vh - 48px );
	background-color: rgba(137, 43, 226, 0.11);
	cursor: default;
	position: relative;
	overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item {
	position: absolute;
	top: -200px;
	font-size: 2em;
	border: 0px solid #ccc;
	border-radius: 50%;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	overflow: hidden;
}
.item.speed_0 {
	transition: all 5s linear;
}	
.item.speed_1 {
	transition: all 4s linear;
}	
.item.speed_2 {
	transition: all 3s linear;
}	
.item.speed_3 {
	transition: all 2s linear;
}	
.item.speed_4 {
	transition: all 1s linear;
}	
.item.speed_5 {
	transition: all 0.8s linear;
}	

.item img {
	width: 100px;
}
.item.move {
	top: 100%;
}
.nav-button {
    background-color: #fc0;
    border: 4px solid #ffffff;
    border-radius: 10px;
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px #0003;
    font-weight: 400;
}
.arrow {
	position: relative;
	display: flex;
	top: -166px;
	left: 166px;
	color: red;
	font-size: 2em;
}
#spin {
	position: relative;
	width: 300px;
	height: 300px;
	border: 3px solid #ccc;
	border-radius: 50%;
	background-color: #ffffff;
    box-shadow: 0 0 10px #0003;
	overflow: hidden;
	transform: rotate(0deg);
	display: flex;
	transition: all 5s ease-in-out;
}
#spin div {
    height: 172px;
    width: 200px;
    clip-path: polygon(100% 0,50% 100%,0 0);
    transform-origin: bottom;
    position: absolute;
    left: 48px;
    bottom: 149px;
}
#spin div img {
	position: relative;
    top: 38px;
    left: 52px;
    width: 89px;
	border-radius: 50%;
}
#spin div:nth-child(1) {
	background: rgb(112, 108, 108);
	transform: rotate(0deg);
}	
#spin div:nth-child(2) {
	background: rgb(60, 255, 0);
	transform: rotate(60deg);
}	
#spin div:nth-child(3) {
	background: rgb(0, 17, 255);
	transform: rotate(120deg);
}	
#spin div:nth-child(4) {
	background: rgb(0, 255, 170);
	transform: rotate(180deg);
}	
#spin div:nth-child(5) {
	background: rgb(255, 0, 170);
	transform: rotate(240deg);
}	
#spin div:nth-child(6) {
	background: red;
	transform: rotate(300deg);
}	

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes shake {
	0%, 100% {
	  transform: translate(0, 0);
	}
	25% {
	  transform: translate(-5px, 0);
	}
	50% {
	  transform: translate(5px, 0);
	}
	75% {
	  transform: translate(-5px, 0);
	}
}
.shake-image {
	animation: shake 0.01s infinite;
}
.move-image {
	position: absolute;
	top : -100px !important;
	left : 10px !important;
	transition: all 0.5s ease-in-out;
}
  